*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #EEEEEE;
	color: #444444;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
	min-width: 650px;
}

body#project
{
	margin: 24px;
}

div#project
{
	background-color: #BBBBBB;
	outline-color: black;
	padding: 24px;
	text-align: center;
}